{% extends 'base.html' %}

{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<!--{% include 'botones-notificaciones.html'%}-->

<body>
    <div class="menu">
        <div class="general baja" onclick="location.href= 'Baja_admin'">
            <div class="icono">
                <i class="fa-solid fa-user-xmark iconos_admin"></i>
            </div>
            <div class="descripcion">
                <h3>Baja de administrador</h3>
            </div>                
        </div>
        <div class="general alta" onclick="location.href= 'Alta_admin'">
            <div class="icono">
                <i class="fa-solid fa-user-plus iconos_admin"></i>
            </div>
            <div class="descripcion">
                <h3>Alta de administrador</h3>
            </div>
        </div>
        <div class="general usuarios" onclick="location.href= 'Ver_usuarios'">
            <div class="icono2">
                <i class="fa-solid fa-users iconos_admin"></i>
            </div>
            <div class="descripcion">
                <h3>Ver usuarios</h3>
            </div>
        </div>
        <div class="general reportes" onclick="location.href= 'Reportes'">
            <div class="icono2">
                <i class="fa-solid fa-circle-exclamation iconos_admin"></i>
            </div>
            <div class="descripcion">
                <h3>Reportes</h3>
            </div>
        </div>
        <div class="general usuarios" onclick="location.href= 'actu_banner'">
            <div class="icono">
                <i class="fa-solid fa-images iconos_admin"></i>
            </div>
            <div class="descripcion">
                <h3>Banner</h3>
            </div>
        </div>
    </div>
</body>
{% endblock %}

    
{% endblock %}  