{% extends 'base.html' %}

{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<!--{% include 'botones-notificaciones.html'%}-->


<body>
    <div class="menu">
        <div class="general baja" onclick="location.href= 'Baja_Alum'">
            <div class="icono">
                <i class="admin fa fa-user-times"></i>
            </div>
            <div class="descripcion">
                <h3>Baja de usuario</h3>
            </div>                
        </div>
        <div class="general alta" onclick="location.href= 'Selec_usuario'">
            <div class="icono">
                <i class="admin fa fa-user-plus"></i>
            </div>
            <div class="descripcion">
                <h3>Alta de usuario</h3>
            </div class="descripcion">
        </div>
        <div class="general usuarios" onclick="location.href= 'Ver_usuarios'">
            <div class="icono2">
                <i class="admin fa fa-user"></i>
            </div>
            <div class="descripcion">
                <h3>Ver usuarios</h3>
            </div class="descripcion">
        </div>
        <div class="general reportes" onclick="location.href= 'Reportes'">
            <div class="icono2">
                <i class="admin fa fa-exclamation-circle"></i>
            </div>
            <div class="descripcion">
                <h3>Reportes</h3>
            </div>
        </div>
    </div>
</body>
{% endblock %}

    
{% endblock %}