

<div class="navbar navbar-expand-lg navbar-light bg-secondary border-top">
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('publicaciones')}}" role="button">Publicaciones</a>
        <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('contra')}}" role="button">Cambiar contraseña</a>
        <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('contra')}}" role="button">Reglamento</a>
        <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('contra')}}" role="button">Tutorial</a>
    </div>
</div>
