
{% extends 'base.html' %}

{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

{% include 'botones-notificaciones.html'%}

<div class="container vh-50 bg-secondary  my-5">

    <div class="row d-flex p-2  h-50">
         <div class="col  justify-content-center">
           
               <div class="card  mx-auto mt-4" style="max-width: 18rem; max-height: 18rem;">
                   <img class="card-img-top" style="max-width: 18rem; max-height: 18rem;" src="{{url_for('static', filename='img/'+account['foto'])}}" alt="{{url_for('static', filename='img/default.png')}}">   
               </div>
              
                <div class=" mr-auto ml-auto border p-4 mt-4 ">
                <form method="post" action="{{ url_for('upload') }}" enctype = "multipart/form-data" >
                  <div class="form-group">
                    <label><strong>Cambiar Foto</strong></label>
                    <div class="custom-file">
                      <input type="file"  class="custom-file-input form-control" name="file" id="customFile" required>
                      <label class="custom-file-label" for="customFile">Selecciona foto</label>
                    </div>
                  </div>
                  <div class="form-group">
                    
                    <input name="upload"  id="upload" class="btn btn-block btn-dark" class="btn btn-primary" type="submit" value="Subir" >
                  </div>
                  <div>{{msgU}}</div>
                </form>
              </div>
              
              <script>
              // Add the following code if you want the name of the file appear on select


              $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
              });
              </script>
              
           
         </div>
         <div class="col justify-content-center m-4 bg-white">
          <ul class="list-group list-group-flush mt-3 ml-2">
              <li class="list-group-item text-capitalize"> <span class="font-weight-bold">Nombre: </span>{{account['nombre']}}</li>
              <li class="list-group-item text-capitalize"> <span class="font-weight-bold">Apellidos: </span>{{account['apellido1']}} {{account['apellido2']}}</li>
              <li class="list-group-item text-capitalize"> <span class="font-weight-bold">Fecha de nacimiento: </span>{{account['fnac']}}</li>
              <li class="list-group-item "> <span class="font-weight-bold">Correo: </span>{{account['correo']}}</li>
              <li class="list-group-item text-capitalize"> <span class="font-weight-bold">Matricula: </span>{{account['matricula']}}</li>
              <li class="list-group-item text-capitalize"> <span class="font-weight-bold">Plantel: </span>{{account['plantel']}}</li>
              <li class="list-group-item text-capitalize"> <span class="font-weight-bold">Carrera: </span>{{account['carrera']}}</li>
              {% if msg %}
              <li class="list-group-item "> <span class="text-danger"></span>{{msg}}</li>
              {% endif %}
          </ul>
         </div>
   </div> 
</div>

{% endblock %}

    
{% endblock %}