{% extends 'base.html' %}

{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

<form action="/update2" method="POST" >
  <input type="text" name="ide" id="ide" value="{{contact.ID_Post}}" style="display: none;" >
  <input type="text" name="titulo" id="titulo" placeholder="Titulo" value="{{contact.Titulo}}">
  <input type="text" name="texto" id="texto" placeholder="texto" value="{{contact.Texto}}">
  <button type="submit">  
     save
  </button>
  
</form>

{% endblock %}