
{% if session['id'] %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="{{url_for('inicio')}}">
    Connecta2
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active font-weight-bold text-light" href="{{url_for('inicio')}}">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link font-weight-bold text-light" href="#">Nosotros</a>
      <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('logout')}}">Logout</a>
      <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('profile')}}">{{session['usuario']}}</a>
      {% if session['nivel'] == 4 or session['nivel'] == 5%}
        <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('Admin')}}">Administrador</a>
      {% endif %}
      <a class="nav-item nav-link font-weight-bold text-light" href="#">Legal</a>
    </div>
  </div>
  
</nav>
{% else %}
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand font-weight-bold text-light " href="{{url_for('inicio')}}">
      Connecta2
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active font-weight-bold text-light" href="{{url_for('inicio')}}">Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link font-weight-bold text-light" href="#">Nosotros</a>
        <a class="nav-item nav-link font-weight-bold text-light" href="legal.html">Legal</a>
        <a class="nav-item nav-link font-weight-bold text-light" href="{{url_for('login')}}">Login</a>
      </div>
    </div>
    
  </nav>
{% endif %}

