{% extends 'base.html' %}


{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

        {% block content %}

        
        <div class="container mt-5 text-light ">
            <h1>Reglas de foro: </h1>
            <ul class="list-group">
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 1:</p> Recuerda al humano. Conecta2 es un lugar para crear comunidad y pertenencia, no para atacar a grupos de personas marginados o vulnerables. Todos tienen derecho a usar Conecta2 sin acoso, intimidación ni amenazas de violencia. Las comunidades y usuarios que inciten a la violencia o que promuevan el odio relacionado con temas de identidad o vulnerabilidad serán vetados.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 2:</p> Cumplir con las reglas de la comunidad. Publique contenido auténtico en comunidades en las que tenga un interés personal, y no haga trampa ni participe en la manipulación de contenido (incluido el envío de correo no deseado spam, la manipulación de votos, la evasión de prohibiciones o el fraude de suscriptores) ni interfiera o interrumpa las comunidades de Conecta2.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 3:</p> Respete la privacidad de los demás. No se permite instigar el acoso, por ejemplo, al revelar información personal o confidencial de alguien. Nunca publique ni amenace con publicar medios íntimos o sexualmente explícitos de alguien sin su consentimiento.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 4:</p> No publique ni fomente la publicación de contenido sexual o sugerente que involucre a menores.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 5:</p> Conecta2 es una red universitaria manten el contenido de la misma en un ambito academico o que no rompa las reglas de tu reglamento de alumno/docente/administrativo.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 6:</p> Este foro es un aula mas. Cualquier accion en este foro se mide como si estuvieras en una aula, por lo que si rompes alguna regla de tu reglamento de alumno/docente/administrativo  podria ser penalizado.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 7:</p> Manténgalo legal y evite publicar contenido ilegal o solicitar o facilitar transacciones ilegales o prohibidas.</li>
                <li class="list-group-item"><p class="m-0 font-weight-bold">Regla 8:</p> No rompa el sitio ni haga nada que interfiera con el uso normal de Conecta2.</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
    

        
        
        {% endblock %}
{% endblock %}