{% extends 'base.html' %}


{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}






<div class="contenido-post">

    <div class="lista-post">
        <p >
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="alert alert-info" role="alert" >
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        {% if msg %}
            <p class="alert alert-success" role="alert">
                {{msg}}
            </p>
        {% endif %}
        {% if mostrar %}
        <h4 style="color: #fff;">Mensajes del día</h4>
        {% for post in posts %}
                {% if post['id_estado'] != 2 and post['fecha'] == today and post['nivel'] >= 3 %}
                    {% if post['nivel'] == 3%}
                    <div class="postcuadros azul">
                        <div class="titulo">
                            <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                        </div>
                        <div class="caja">
                            <div class="datos-publicacion-respuesta">
                                <div class="fecha-publicacion">
                                    <p>Publicado: {{ post['tiempo']}}</p>
                                </div>
                            </div>
                            <div class="datos-publicacion-respuesta">
                                <div class="img-perfil dia">
                                    <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                </div>
                                <div class="publicado-por">
                                    <div class="nombre-usuario">
                                       Usuario: {{post['usuario']}}
                                    </div>
                                    <div class="identifica_nivel">
                                        {{post['nivel_estudio']}}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% else %}
                    <div class="postcuadros dorado">
                        <div class="titulo">
                            <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                        </div>
                        <div class="caja">
                            <div class="datos-publicacion-respuesta">
                                <div class="fecha-publicacion">
                                    <p>Publicado: {{ post['tiempo']}}</p>
                                </div>
                            </div>
                            <div class="datos-publicacion-respuesta">
                                <div class="img-perfil dia">
                                    <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                </div>
                                <div class="publicado-por">
                                    <div class="nombre-usuario">
                                       Usuario: {{post['usuario']}}
                                    </div>
                                    <div class="identifica_nivel">
                                        {{post['nivel_estudio']}}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <h4 style="color: #fff;">Publicaciones</h4>
            {% for post in posts %}
                {% if post['id_estado'] != 2 and (post['fecha'] != today or (post['fecha'] == today and post['nivel'] < 3)) %} 
                    {% if post['nivel'] == 3%}
                        <div class="postcuadros azul">
                            <div class="titulo">
                                <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                            </div>
                            <div class="caja">
                                <div class="datos-publicacion-respuesta">
                                    <div class="fecha-publicacion">
                                        <p>Publicado: {{ post['fecha']}}</p>
                                    </div>
                                </div>
                                <div class="datos-publicacion-respuesta">
                                    <div class="img-perfil">
                                        <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                    </div>
                                    <div class="publicado-por">
                                        <div class="nombre-usuario">
                                        Usuario: {{post['usuario']}}
                                        </div>
                                        <div class="identifica_nivel">
                                            {{post['nivel_estudio']}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% elif post['nivel'] > 3%}
                        <div class="postcuadros dorado">
                            <div class="titulo">
                                <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                            </div>
                            <div class="caja">
                                <div class="datos-publicacion-respuesta">
                                    <div class="fecha-publicacion">
                                        <p>Publicado: {{ post['fecha']}}</p>
                                    </div>
                                </div>
                                <div class="datos-publicacion-respuesta">
                                    <div class="img-perfil">
                                        <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                    </div>
                                    <div class="publicado-por">
                                        <div class="nombre-usuario">
                                        Usuario: {{post['usuario']}}
                                        </div>
                                        <div class="identifica_nivel">
                                            {{post['nivel_estudio']}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% else %}
                        <div class="postcuadros">
                            <div class="titulo">
                                <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                            </div>
                            <div class="caja">
                                <div class="datos-publicacion-respuesta">
                                    <div class="fecha-publicacion">
                                        <p>Publicado: {{ post['fecha']}}</p>
                                    </div>
                                </div>
                                <div class="datos-publicacion-respuesta">
                                    <div class="img-perfil">
                                        <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                    </div>
                                    <div class="publicado-por">
                                        <div class="nombre-usuario">
                                        Usuario: {{post['usuario']}}
                                        </div>
                                        <div class="identifica_nivel">
                                            {{post['nivel_estudio']}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="noContenido">
                <hr>
                    <p>No se encontraron resultados</p>
                <hr>
            </div>
        {% endif %}
    </div>

</div>

 {% endblock %}
 {% endblock %}