{% extends 'base.html' %}

{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<body>
    <div class="busqueda">
        <form action="{{url_for('buscar_usuarios')}}" method="post">
            <div class="busqueda_usuario">
                <p style="color: #fff;">Buscar usuario</p>
                <input type="search" name="buscar">
                <button type="submit" class="boton-buscar"> Buscar </button>
            </div>
        </form>
    </div>
    <div class="tabla_usuarios">
        <table>
            <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% if datos %}
                    <tr>
                        <td>{{datos['usuario']}}</td>
                        <td>{{datos['matricula']}}</td>
                        <td>{{datos['nombre']}}</td>
                        <td>{{datos['fnac']}}</td>
                        <td>{{datos['correo']}}</td>
                        <td><abbr title="Dar de baja a usuario"><a href="/deleteUser/{{datos['matricula']}}"><i class="fa-solid fa-user-xmark iconos_tabla;"></i></a></abbr></td>
                    </tr>
                {% else %}
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{usuario.6}}</td>
                            <td>{{usuario.0}}</td>
                            <td>{{usuario.1}} {{usuario.2}} {{usuario.3}}</td>
                            <td>{{usuario.4}}</td>
                            <td>{{usuario.5}}</td>
                            <td><abbr title="Dar de baja a usuario"><a href="/deleteUser/{{usuario.0}}"><i class="fa-solid fa-user-xmark iconos_tabla"></i></a></abbr></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</body>


{% endblock %}

    
{% endblock %}