{% extends 'base.html' %}


{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

     
<div class="contenido-post">
    
    {% for centro in centroUni %}
   
        {% if centro.id_plantel == 1 %}
            <div class="titulo-lista-post gdl">
                <h2> Plantel {{centro.plantel}}: {{centro.carrera}}</h2>
            </div>
        {% elif centro.id_plantel == 2 %}
            <div class="titulo-lista-post tlaque">
                <h2> Plantel {{centro.plantel}}: {{centro.carrera}}</h2>
            </div>
        {% else %}
            <div class="titulo-lista-post zpn">
                <h2> Plantel {{centro.plantel}}: {{centro.carrera}}</h2>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Barra lateral -->
    <aside>
        
        <!-- Crear un nuevo post -->
        <div class="crear-post">
            <form action="/add_post" method="POST" enctype="multipart/form-data">

                <p>Crear una nueva publicacion</p>
                <div class="titulo-new-post">
                    <label for="titulo">Titulo</label>
                    <input type="text" placeholder="Titulo" name="titulo" autocomplete="off" id="titulo" required>
                </div>
                <div class="contenido-new-post">
                    <label for="contenido">Contenido</label>
                    <textarea name="contenido" placeholder="Contenido del tema" autocomplete="off" id="contenido" required></textarea>
                </div>
                <div class="contenido-new-post">
                    <label for="archivo">Archivos (maximo 5)</label>
                    <input type="file"  name="file" multiple id="archivo">
                </div>
                <div class="checkboxs">
                <h4 style="width: 100%;">Etiquetas</h4> 
                <select name="tags" required>
                    <option value="0">Seleccione una etiqueta</option>
                    {% for tag in tags %}
                        {% if (tag['id_tag'] == 1 and session['nivel'] > 3) or tag['id_tag'] > 1%}
                            <option value="{{tag['id_tag']}}">{{tag['tag']}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
                {% if session['id'] %}
                    {% for centro in centroUni %}
                        {% if ((session['nivel'] != 1 and centro['carrera'] == "Bachillerato") or (session['nivel'] != 2 and centro['carrera'] != "Bachillerato")) %}
                            <div class="boton-publicar-post">
                                <button class="boton-post" type="submit">Publicar</button>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            </form>
            {% if not session['id'] %}
                <div class="apartado-crear-post">
                    <div class="no-registrado-post">
                        <h4>Inica sesion para publicar</h4>
                        <div class="botones-no-sesion-post">
                            <div class="ir-login-post" onclick="location.href= '/login'"> Iniciar sesion </div>
                            <div class="ir-registrar-post" onclick="location.href= '/login'"> Registrarse </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        
    </aside>
    
    <!-- Muestra la lista de posts -->
    <div class="lista-post">
        <p >
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="alert alert-info" role="alert" >
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        {% if msg %}
            <p class="alert alert-success" role="alert">
                {{msg}}
            </p>
        {% endif %}
        {% if mostrar %}
        <div class="container mt-5">
            <form >
                <label for="etiqueta"  class="text-white">Etiquetas</label>
                <select name="etiqueta " onchange='seleccionarTag()' id="etiqueta">
                    <option value="0">Todos</option>
                    <option value="1">Importante</option>
                    <option value="2">Tareas</option>
                    <option value="3">Proyectos</option>
                    <option value="4">Ocio</option>
                    <option value="5">Discusiones</option>
                </select>
            </form>
        </div>
        <h4 style="color: #fff;">Mensajes del día</h4>
        {% for post in posts %}
                {% if post['id_estado'] != 2 and post['fecha'] == today and post['nivel'] >= 3 %}
                    {% if post['nivel'] == 3%}
                    <div class="postcuadros azul" id="{{post['id_tag']}}">
                        <div class="titulo">
                            <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                        </div>
                        <div class="caja">
                            <div class="datos-publicacion-respuesta">
                                <div class="tags">
                                    <div class="fecha-publicacion tag-fecha">
                                        <p>Publicado: {{ post['tiempo']}}</p> 
                                    </div>
                                    <div class="tag-publi">
                                        <p>Etiqueta: {{ post['tag']}}</p>
                                    </div>   
                                </div>
                            </div>
                            <div class="datos-publicacion-respuesta">
                                <div class="img-perfil dia">
                                    <img src="{{url_for('static', filename='img/'+post['foto'])}}" alt="{{url_for('static', filename='img/default.png')}}">
                                </div>
                                <div class="publicado-por">
                                    <div class="nombre-usuario">
                                       Usuario: {{post['usuario']}}
                                    </div>
                                    <div class="identifica_nivel">
                                        {{post['nivel_estudio']}}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% else %}
                    <div class="postcuadros dorado" id="{{post['id_tag']}}">
                        <div class="titulo">
                            <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                        </div>
                        <div class="caja">
                            <div class="datos-publicacion-respuesta">
                                <div class="tags">
                                    <div class="fecha-publicacion tag-fecha">
                                        <p>Publicado: {{ post['tiempo']}}</p> 
                                    </div>
                                    <div class="tag-publi">
                                        <p>Etiqueta: {{ post['tag']}}</p>
                                    </div>   
                                </div>
                            </div>
                            <div class="datos-publicacion-respuesta">
                                <div class="img-perfil">
                                    <img src="{{url_for('static', filename='img/'+post['foto'])}}" alt="{{url_for('static', filename='img/default.png')}}">
                                </div>
                                <div class="publicado-por">
                                    <div class="nombre-usuario">
                                       Usuario: {{post['usuario']}}
                                    </div>
                                    <div class="identifica_nivel">
                                        {{post['nivel_estudio']}}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <h4 style="color: #fff;">Publicaciones</h4>
            {% for post in posts %}
                {% if post['id_estado'] != 2 and (post['fecha'] != today or (post['fecha'] == today and post['nivel'] < 3)) %} 
                    {% if post['nivel'] == 3%}
                        <div class="postcuadros azul" id="{{post['id_tag']}}">
                            <div class="titulo">
                                <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                            </div>
                            <div class="caja">
                                <div class="datos-publicacion-respuesta">
                                    <div class="tags">
                                        <div class="fecha-publicacion tag-fecha">
                                            <p>Publicado: {{ post['tiempo']}}</p> 
                                        </div>
                                        <div class="tag-publi">
                                            <p>Etiqueta: {{ post['tag']}}</p>
                                        </div>   
                                    </div>
                                </div>
                                <div class="datos-publicacion-respuesta">
                                    <div class="img-perfil">
                                        <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                    </div>
                                    <div class="publicado-por">
                                        <div class="nombre-usuario">
                                        Usuario: {{post['usuario']}}
                                        </div>
                                        <div class="identifica_nivel">
                                            {{post['nivel_estudio']}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% elif post['nivel'] > 3%}
                        <div class="postcuadros dorado" id="{{post['id_tag']}}">
                            <div class="titulo">
                                <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                            </div>
                            <div class="caja">
                                <div class="datos-publicacion-respuesta">
                                    <div class="fecha-publicacion tag-fecha">
                                        <p>Etiqueta: {{ post['tag']}}</p>
                                        <p>Publicado: {{ post['fecha']}}</p>
                                        
                                    </div>
                                </div>
                                <div class="datos-publicacion-respuesta">
                                    <div class="img-perfil">
                                        <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                    </div>
                                    <div class="publicado-por">
                                        <div class="nombre-usuario">
                                        Usuario: {{post['usuario']}}
                                        </div>
                                        <div class="identifica_nivel">
                                            {{post['nivel_estudio']}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% else %}
                        <div class="postcuadros" id="{{post['id_tag']}}">
                            <div class="titulo">
                                <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                            </div>
                            <div class="caja">
                                <div class="datos-publicacion-respuesta">
                                    <div class="tags">
                                        <div class="fecha-publicacion tag-fecha">
                                            <p>Publicado: {{ post['tiempo']}}</p> 
                                        </div>
                                        <div class="tag-publi">
                                            <p>Etiqueta: {{ post['tag']}}</p>
                                        </div>   
                                    </div>
                                </div>
                                <div class="datos-publicacion-respuesta">
                                    <div class="img-perfil">
                                        <img src="{{url_for('static', filename='img/default.png')}}" alt="Generic placeholder image">
                                    </div>
                                    <div class="publicado-por">
                                        <div class="nombre-usuario">
                                        Usuario: {{post['usuario']}}
                                        </div>
                                        <div class="identifica_nivel">
                                            {{post['nivel_estudio']}}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="noContenido">
                <hr>
                    <p>Aun no hay nada, se el primero en publicar algo</p>
                <hr>
            </div>
        {% endif %}
    </div>


</div>
 {% endblock %}
 {% endblock %}