{% extends 'base.html' %}


{% block body %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}






<div class="contenido-post">

    <!-- Barra lateral -->
    <aside>
        {% if session['id'] %}
        <!-- Crear un nuevo post -->
        <div class="crear-post">
            <form action="/add_post" method="POST" enctype="multipart/form-data">

                <p>Crear una nueva publicacion</p>
                <div class="titulo-new-post">
                    <input type="text" placeholder="Titulo" name="titulo" autocomplete="off" required>
                </div>
                <div class="contenido-new-post">
                    <textarea name="contenido" placeholder="Contenido del tema" autocomplete="off" required></textarea>
                </div>
                <div class="contenido-new-post">
                    <input type="file"  name="file[]" multiple="">
                </div>
                {% if session['id'] %}
                    {% for centro in centroUni %}
                        {% if ((session['nivel'] != 1 and centro['carrera'] == "Bachillerato") or (session['nivel'] != 2 and centro['carrera'] != "Bachillerato")) %}
                            <div class="boton-publicar-post">
                                <button class="boton-post" type="submit">Publicar</button>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% endif %}
            </form>
            {% if not session['id'] %}
                <div class="apartado-crear-post">
                    <div class="no-registrado-post">
                        <h4>Inica sesion para publicar</h4>
                        <div class="botones-no-sesion-post">
                            <div class="ir-login-post" onclick="location.href= '/login'"> Iniciar sesion </div>
                            <div class="ir-registrar-post" onclick="location.href= '/login'"> Registrarse </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </aside>

    <!-- Muestra la lista de posts -->
    <div class="lista-post">
        <div class="titulo-lista-post">
            {% for centro in centroUni %}
                <h2> Plantel {{centro.plantel}}: {{centro.carrera}}</h2>
            {% endfor %}
        </div>
        {% if mostrar %}
            {% for post in posts %}
                {% if post['id_estado'] != 2%}
                    <div class="postcuadros">
                        <div class="titulo">
                            <a href="/mostrarpost/{{ post['id_post'] }}">{{ post['titulo'] }}</a>
                        </div>
                        <div class="caja">
                            {% if session %}
                            <div class="botones-post">

                            </div>
                            <div class="nombre-usuario">
                                usuario: {{ post.usuario }}
                            </div>
                            {% endif %}
                            {% if not session %}
                            <div class="datos-publicacion-respuesta">
                                <div class="fecha-publicacion">
                                    <p>Publicado: {{ post['fecha']}}</p>
                                </div>
                            </div>
                            <div class="datos-publicacion-respuesta">
                                <div class="publicado-por">
                                <p>usuario: {{post['usuario']}}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="noContenido">
                <hr>
                    <p>Aun no hay nada, se el primero en publicar algo</p>
                <hr>
            </div>
        {% endif %}
    </div>

</div>

 {% endblock %}
 {% endblock %}